*.gem
*.rbc
.bundle
.config
Gemfile.lock
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Latex Arising Files
*.dvi
*.aux

# Temporary Files
*.log
tmp/
.sass-cache/
.DS_Store
*.orig
*.swp
*.swo

pkg
.rvmrc
